* {
  transition: padding 0.2s ease-in-out, width 0.3s ease-in-out;
}

hr {
  color: var(--nav-text-active-color);
}

.site-header {
  position: sticky;
  top: 0;
  z-index: 12;
  display: flex;
  /* box-shadow: rgba(0, 0, 0, 0.075) 0px 0px 12px 0px; */
}

.site-header .nav-logo {
  /* transition: padding 0.3s ease-in-out, margin 0.3s ease-in-out,
    width 0.3s ease-in-out, height 0.3s ease-in-out, font-size 0.3s ease-in-out; */
}

.site-header-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.header-main-top {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    #ffffff 10%,
    var(--secondary-color) 50%
  );
  font-size: 14px; /*0.85rem;*/
  color: #292730;
  padding: 0 1rem;
  letter-spacing: 0.02rem;
}

.header-main-top .main-top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 1.5rem;
  /* margin: 0 1rem; */
}

.main-top-container .contacts-desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 2.5rem; */
  /* padding: 0 1rem; */
  /* gap: 1.5rem; */
  /* padding-left: 0.5rem; */
  /* padding-right: 2rem; */
}

.main-top-container .contacts-desktop p {
  color: var(--primary-text-color);
  padding: 0 1rem;
  /* padding: 0 0.5rem; */
  /* padding-left: 1.2rem; */
}

.contacts-desktop a,
.additional-menu a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.additional-menu a:hover {
  text-decoration: underline;
  color: #18171c;
}

.main-top-container .additional-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.main-top-container .additional-menu-container {
  display: flex;
  align-items: center;
  text-align: right;
  /* padding: 0.7rem 0; */
}

.main-top-container .additional-menu-container li {
  display: block;
  list-style: none;
  padding: 0 1rem;
}

.main-top-container .additional-menu-container a {
  color: var(--primary-text-color);
}

.main-top-container .mini-cart {
  display: flex;
  align-items: center;
  margin-left: 2.5rem;
  text-align: right;
  padding: 0.5rem 0;
  /* padding: 0.5rem 0; */
  /* padding: 0.7rem 0; */
}

.mini-cart .button {
  font-size: 0.9rem;
}

.mini-cart-container {
  display: flex;
  align-items: center;
}

.mini-cart-container .mini-cart-amount {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}

.button {
  transition: all 0.3s ease-in-out;
  display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  border: none;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  border-radius: 5rem;
}

.button-fill {
  background-color: #292730;
}

.button-fill:hover {
  background-color: #4b4857;
}

.button-outline {
  background-color: transparent;
  color: #292730;
  outline: 2px #292730 solid;
}

.button-outline:hover {
  background-color: #292730;
  color: #fff;
  outline: 2px #292730 solid;
}

.button-small {
  font-size: 0.8rem;
  padding: 0.3rem 0.8rem;
}

.button-md {
  font-size: 0.9rem;
  padding: 16px 32px;
  text-transform: uppercase;
}

/* Navbar section */
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
}

.site-nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.nav-menus {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  list-style: none;
  font-weight: 400;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  font-size: 1.1rem;
  font-weight: 700;
}

/* Nav Logo */
.nav-logo {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 280px;
  background-color: var(--primary-color);
}
.nav-logo a {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 0.9rem 2rem;
}
.nav-logo img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 6rem;
  max-width: 11rem;
}

.nav-menus li {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-menu a {
  display: flex;
  padding: 8px 12px;
}

.nav-menu > div {
  display: flex;
  cursor: pointer;
}

.nav-menus,
.nav-menus a {
  color: var(--nav-menu-color);
  text-decoration: none;
}

.abs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: -6px;
  left: 0;
}

.nav-menus hr {
  border: none;
}

.nav-menus .hr-anim {
  opacity: 0;
  width: 100%;
  border-bottom: 2px solid var(--primary-text-hover-color);
  animation: anim2 0.25s forwards ease-in-out;
}

.nav-menus .hr-anim2 {
  opacity: 0;
  border-bottom: 2px solid var(--primary-text-active-color);
  animation: anim-smooth 0.4s forwards ease-out;
}

@keyframes anim-smooth {
  0% {
    opacity: 0;
    border-bottom: 2px solid var(--primary-text-hover-color);
    width: 10%;
  }
  100% {
    opacity: 1;
    border-bottom: 2px solid var(--primary-text-active-color);
    width: 100%;
  }
}

@keyframes anim2 {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Buttons */
.nav-login-cart button,
.nav-login-cart a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 35px;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 20px;
  color: var(--nav-text-color);
  font-size: 14px;
  font-weight: 500;
  background: var(--secondary-color);
  cursor: pointer;
}

.nav-login-cart .btn-outline {
  border: 1px solid var(--nav-text-color);
}
.nav-login-cart .btn-outline:active {
  background: var(--nav-text-active-color);
}

.nav-login-cart .btn-fill {
  background: var(--primary-color);
  color: var(--nav-bg-color);
}
.nav-login-cart .btn-fill:active {
  background: var(--primary-active-color);
}

.btn-cart {
  cursor: pointer;
}

/* Login Cart */
.nav-login-cart {
  display: flex;
  align-items: center;
  /* gap: 20px; */
  padding-right: 32px;
  background: var(--secondary-color);
}

.nav-login-cart img {
  width: 28px;
  height: 28px;
}

.login-cart-container {
  position: relative;
  margin-bottom: -4px;
}

.login-cart-container div {
  position: absolute;
  top: -3px;
  right: -8px;
  cursor: pointer;
}

.nav-cart-count {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 10px;
  font-weight: 600;
  background: var(--cart-count-bubble-color);
  color: var(--secondary-color);
  outline: 4px solid var(--body-bg-color);
  /* padding-left: 10px; */
  /* padding-right: 10px; */
}

.cart-count-max {
  border-radius: 20px;
  /* padding-left: 12px; */
  /* padding-right: 12px; */
}
/* END OF Navbar section */

/* Main */
main {
  display: block;
}

.container-main {
  display: flex;
  justify-content: center;
  height: calc(100% - 103px);
  color: var(--nav-text-color);
  /* background-color: var(--secondary-color); */
  /* width: 100%; */
}

.container {
  /* margin: 0px 70px; */
  /* padding: 0px 70px;, */
  color: var(--nav-text-color);
  height: 100%;
  /* width: 1280px; */
}

section {
  margin: 3.2rem 0;
  padding: 0 4rem;
}

.max-width {
  max-width: 1920px;
  margin: 0 auto;
}

.slider {
  padding: 0;
  margin: 0;
}

.slider-hero {
  background-color: rgb(242, 241, 236);
  border-radius: 8px 8px 0 0;
  /* display: flex;
  justify-content: space-between; */
  /* margin-top: 2rem;
  padding: 0 10rem; */
}

.slider-content {
  display: flex;
  padding: 2rem 4rem;
}

.hero-slide-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-slide-right {
  /* width: 50%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-content: center; */
  /* justify-content: center; */
}

.hero-slide-left,
.hero-slide-right {
  width: 50%;
}

.hero-slide-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #25242c;
  padding-bottom: 1.2rem;
  gap: 1.5vw 0;
  width: max-content;
  /* outline: 1px red solid; */
}

.hero-slide-info h1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 3.2vw;
  font-weight: 400;
  gap: 0 1vw;
  justify-content: center;
  width: max-content;
  /* margin-bottom: 2rem; */
}

.hero-slide-info h4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.4vw;
  font-weight: 400;
  gap: 0 0.3rem;
  justify-content: center;
  align-items: end;
  width: max-content;
  margin-bottom: 1.2rem;
  /* margin-bottom: 1.5rem; */
}

.important-text {
  font-size: 1.9vw;
}

.hero-slide-image {
  background: url("https://upgreat.ee/wp-content/uploads/2024/03/macbook_air_upgreat_springr973-%C3%97-711-px.png");
  position: relative;
  height: 100%;
  width: auto;
  /* aspect-ratio: 1; */
  padding-bottom: calc(70% - 3vw);
  background-repeat: no-repeat;
  background-position: center end;
  background-size: contain;
}

.page-title {
  margin-top: 50px;
  margin-left: 5px;
  font-weight: 500;
  margin-bottom: 15px;
}

.more-link {
  letter-spacing: 0.08rem;
}

/* Products */
.product-list-container .product-list {
  display: flex;
  width: 100%;
  justify-content: start;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  justify-content: center;
  width: 15%;
  cursor: pointer;
}

.product-card:hover > div h4 {
  color: #4b4fb6;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0 10px;
  width: 100%;
  height: 100%;
}

.product-container img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: scale-down;
  margin-bottom: 10px;
}

.product-container h4 {
  font-weight: 600;
  font-size: 16px;
}

.product-container p {
  opacity: 60%;
  padding-left: 2px;
  font-size: 12px;
}

@media screen and (min-width: 1980px) {
  .hero-slide-info {
    gap: 1.8rem 0;
  }
  .hero-slide-info h1 {
    font-size: 4rem;
  }
  .hero-slide-info h4 {
    font-size: 1.7rem;
  }
  .button-md {
    font-size: 0.9rem;
    padding: 16px 32px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1980px) {
  .nav-logo img {
    width: 10vw;
  }
}

@media screen and (max-width: 1800px) {
  .hero-slide-info h4 {
    margin-bottom: 1.5vw;
  }
  .button-md {
    font-size: 0.9vw;
    padding: 1vw 2vw;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1400px) {
  .header-main-top {
    font-size: 1vw;
    /* font-size: 0.8vw; */
  }
  .main-top-container .mini-cart {
    padding: 0.4rem 0;
  }
  .button-small {
    font-size: 0.7rem;
    padding: 0.3rem 0.8rem;
  }
}

@media screen and (max-width: 1080px) {
  .nav-menu {
    font-size: 1.63vw;
  }
}

@media screen and (max-width: 1000px) {
  .header-main-top {
    display: none;
  }
  .navbar {
    background: var(--primary-color);
  }
  .navbar .nav-menus {
    display: none !important;
    /* display: flex; */
    flex-wrap: nowrap;
    /* justify-content: start !important; */
  }
  .nav-logo a {
    justify-content: start;
    align-items: center;
    padding: 1rem 1.2rem;
    width: auto;
  }
  .nav-logo img {
    width: 4.5rem;
  }
  .button-md {
    font-size: 0.8rem;
    padding: 1vw 2vw;
    text-transform: uppercase;
  }
  section {
    margin: 1.5rem 0;
    padding: 0 2rem;
  }
  .slider-content {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 800px) {
  .nav-logo img {
    width: 12vw;
  }
  .header-main-top {
    display: none;
  }
  .navbar {
    background: var(--primary-color);
  }
  .navbar .nav-menus {
    display: none !important;
    flex-wrap: nowrap;
  }
  .nav-menu {
    font-size: 0.95rem;
  }
  .nav-logo a {
    justify-content: start;
    align-items: center;
    padding: 1.5rem 1rem;
    width: auto;
  }
  .nav-logo img {
    width: 4.5rem;
  }
  .button-md {
    font-size: 0.8rem;
    padding: 1.8vw 4vw;
    /* padding: 1vw 2vw; */
    text-transform: uppercase;
  }
  section {
    /* margin: 0; */
    padding: 1.8rem;
  }
  .slider-content {
    flex-flow: column-reverse;
    /* padding: 0; */
    padding-top: 6rem;
    padding-bottom: 4rem;
    /* height: 100vh; */
    justify-content: start;
  }
  .hero-slide-left,
  .hero-slide-right {
    width: 100%;
  }
  .hero-slide-info {
    gap: 2.8vw 0;
  }
  .hero-slide-info h1 {
    font-size: 6vw;
  }
  .hero-slide-info h4 {
    font-size: 2.8vw;
    margin-bottom: 5vw;
  }
  .hero-slide-image {
    background-position: center;
  }
}

/* @media only screen and (max-width: 1280px) {
  .navbar,
  .container {
    max-width: 1024px;
  }
  .product-card {
    width: 25%;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar,
  .container {
    max-width: 768px;
  }
  .product-card {
    width: 33%;
  }
} */

/* For mobile phones: */
/* @media only screen and (max-width: 768px) {
  .navbar,
  .container {
    max-width: 100%;
  }
  .product-card {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .navbar,
  .container {
    max-width: 100%;
  }
  .product-card {
    width: 100%;
  }
} */
