hr {
  color: var(--nav-text-active-color);
}

.site-header {
  position: sticky;
  top: 0;
  z-index: 12;
  display: flex;
  /* box-shadow: rgba(0, 0, 0, 0.075) 0px 0px 12px 0px; */
}

.site-header .nav-logo {
  transition: padding 0.3s ease-in-out, margin 0.3s ease-in-out,
    width 0.3s ease-in-out, height 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.site-header-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.header-main-top {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    #ffffff 10%,
    var(--secondary-color) 50%
  );
  font-size: 0.85rem;
  color: #292730;
  padding: 0 1rem;
}

.header-main-top .main-top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-right: 1rem;
}

.main-top-container .contacts-desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  /* min-width: 200px; */
}

.main-top-container .contacts-desktop p {
  color: var(--primary-text-color);
  text-decoration: none;
  padding: 0 1rem;
}

.main-top-container .additional-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-top-container .additional-menu-container {
  display: flex;
  align-items: center;
  text-align: right;
}

.main-top-container .additional-menu-container li {
  display: block;
  list-style: none;
  padding: 0 1rem;
}

.main-top-container .additional-menu-container a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.main-top-container .mini-cart {
  display: flex;
  align-items: center;
  margin-left: 5rem;
  padding: 0.7rem 0;
}

.mini-cart .button {
  margin-left: 1rem;
}

.mini-cart .button:hover {
  background-color: #4b4857;
}

.button {
  transition: all 0.3s ease-in-out;
  display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #292730;
  border-radius: 5rem;
}

.button-small {
  font-size: 0.9rem;
  padding: 0.4rem 1.2rem;
  text-transform: none;
}

/* Navbar section */
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
}

.site-nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.nav-menus {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  list-style: none;
  font-weight: 400;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  font-size: 1.1rem;
  font-weight: 700;
}

/* Nav Logo */
.nav-logo {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 280px;
  background-color: var(--primary-color);
}
.nav-logo a {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 0.9rem 2rem;
}
.nav-logo img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 6rem;
  max-width: 11rem;
}

.nav-menus li {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-menu a {
  display: flex;
  padding: 8px 12px;
}

.nav-menu > div {
  display: flex;
  cursor: pointer;
}

.nav-menus,
.nav-menus a {
  color: var(--nav-menu-color);
  text-decoration: none;
}

.abs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: -6px;
  left: 0;
}

.nav-menus hr {
  border: none;
}

.nav-menus .hr-anim {
  opacity: 0;
  width: 100%;
  border-bottom: 2px solid var(--primary-text-hover-color);
  animation: anim2 0.25s forwards ease-in-out;
}

.nav-menus .hr-anim2 {
  opacity: 0;
  border-bottom: 2px solid var(--primary-text-active-color);
  animation: anim-smooth 0.4s forwards ease-out;
}

@keyframes anim-smooth {
  0% {
    opacity: 0;
    border-bottom: 2px solid var(--primary-text-hover-color);
    width: 10%;
  }
  100% {
    opacity: 1;
    border-bottom: 2px solid var(--primary-text-active-color);
    width: 100%;
  }
}

@keyframes anim2 {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Buttons */
.nav-login-cart button,
.nav-login-cart a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 35px;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 20px;
  color: var(--nav-text-color);
  font-size: 14px;
  font-weight: 500;
  background: var(--secondary-color);
  cursor: pointer;
}

.nav-login-cart .btn-outline {
  border: 1px solid var(--nav-text-color);
}
.nav-login-cart .btn-outline:active {
  background: var(--nav-text-active-color);
}

.nav-login-cart .btn-fill {
  background: var(--primary-color);
  color: var(--nav-bg-color);
}
.nav-login-cart .btn-fill:active {
  background: var(--primary-active-color);
}

.btn-cart {
  cursor: pointer;
}

/* Login Cart */
.nav-login-cart {
  display: flex;
  align-items: center;
  /* gap: 20px; */
  padding-right: 32px;
  background: var(--secondary-color);
}

.nav-login-cart img {
  width: 28px;
  height: 28px;
}

.login-cart-container {
  position: relative;
  margin-bottom: -4px;
}

.login-cart-container div {
  position: absolute;
  top: -3px;
  right: -8px;
  cursor: pointer;
}

.nav-cart-count {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 10px;
  font-weight: 600;
  background: var(--cart-count-bubble-color);
  color: var(--secondary-color);
  outline: 4px solid var(--body-bg-color);
  /* padding-left: 10px; */
  /* padding-right: 10px; */
}

.cart-count-max {
  border-radius: 20px;
  /* padding-left: 12px; */
  /* padding-right: 12px; */
}
/* END OF Navbar section */

/* Main */
.container-main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100% - 103px);
  color: var(--nav-text-color);
  /* background-color: var(--secondary-color); */
}

.container {
  /* margin: 0px 70px; */
  padding: 0px 70px;
  color: var(--nav-text-color);
  height: 100%;
  width: 1280px;
}

.page-title {
  margin-top: 50px;
  margin-left: 5px;
  font-weight: 500;
  margin-bottom: 15px;
}

/* Products */
.product-list-container .product-list {
  display: flex;
  width: 100%;
  justify-content: start;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  justify-content: center;
  width: 15%;
  cursor: pointer;
}

.product-card:hover > div h4 {
  color: #4b4fb6;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0 10px;
  width: 100%;
  height: 100%;
}

.product-container img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: scale-down;
  margin-bottom: 10px;
}

.product-container h4 {
  font-weight: 600;
  font-size: 16px;
}

.product-container p {
  opacity: 60%;
  padding-left: 2px;
  font-size: 12px;
}

@media screen and (max-width: 1980px) {
  .nav-logo img {
    width: 10vw;
  }
}

@media screen and (max-width: 1080px) {
  .header-main-top {
    font-size: 1.2vw;
  }
  .nav-menu {
    font-size: 1.63vw;
  }
}

@media screen and (max-width: 1000px) {
  .header-main-top {
    display: none;
  }
  .navbar {
    background: var(--primary-color);
  }
  .navbar .nav-menus {
    display: none !important;
    /* display: flex; */
    flex-wrap: nowrap;
    /* justify-content: start !important; */
  }
  .nav-logo a {
    justify-content: start;
    align-items: center;
    padding: 1rem;
    width: auto;
  }
  .nav-logo img {
    width: 6rem;
  }
}

@media screen and (max-width: 800px) {
  .nav-logo img {
    width: 12vw;
  }
}

@media screen and (max-width: 670px) {
  .header-main-top {
    display: none;
  }
  .navbar {
    background: var(--primary-color);
  }
  .navbar .nav-menus {
    display: none !important;
    flex-wrap: nowrap;
  }
  .nav-menu {
    font-size: 0.95rem;
  }
  .nav-logo a {
    justify-content: start;
    align-items: center;
    /* padding: 0.5rem; */
    width: auto;
  }
  .nav-logo img {
    width: 5rem;
  }
}

/* @media only screen and (max-width: 1280px) {
  .navbar,
  .container {
    max-width: 1024px;
  }
  .product-card {
    width: 25%;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar,
  .container {
    max-width: 768px;
  }
  .product-card {
    width: 33%;
  }
} */

/* For mobile phones: */
/* @media only screen and (max-width: 768px) {
  .navbar,
  .container {
    max-width: 100%;
  }
  .product-card {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .navbar,
  .container {
    max-width: 100%;
  }
  .product-card {
    width: 100%;
  }
} */
