@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  min-width: 0;
  box-sizing: border-box;

  /* Safari
  -webkit-user-select: none;
  -webkit-user-drag: none;
  IE 10 and IE 11
  -ms-user-select: none;
  Standard syntax 
  user-select: none;*/

  --primary-color: #d0ee8f;
  --primary-text-color: #102a26;
  --primary-text-hover-color: #102a263a;
  --primary-text-active-color: #102a2673;
  --primary-active-color: #0d95e4;

  --secondary-color: #f4f4f5;
  /* --secondary-color: #f3f3f5; */
  /* --secondary-color: #f0f0f2; */
  --secondary-active-color: #f3f3f3;
  --nav-underline-active: #132a2698;
  --nav-menu-color: #132a26;

  --body-bg-color: #f0f0f0;
  --nav-bg-color: #fff;
  --nav-hover-color: #a3a3a3;
  --nav-text-color: #515151;
  --nav-text-active-color: #f3f3f3;
  --cart-count-bubble-color: #ff2600;
}

body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* background-color: var(--secondary-color); */

  color: #131218;
  font-weight: 400;
  font-size: 2rem;
  font-family: "Mulish";
  line-height: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
